<!--<h1></h1>-->
<div id="editor"></div>
<div id="wrapper">
    <div id="header"></div>
</div>

<script>
const data = JSON.parse('<%= @articles.articles %>');
// const data = ''
console.log(data)
const editor = new EditorJS({
    holder: 'editor',
    tools: {
        image: {
            class :ImageTool,
        }
    },
    data: data,
    readOnly: true,
});
</script>