<form action="/editor_login" method="post">
    <input id="username" type="text" name="username" required><br>
    <input id="password" type="password" name="password" required><br>
    <input type="submit"></input>
</form>