<div id="editor"></div>
<button onclick="save()">save</button>
<script>
    const editor = new EditorJS({
        holder:'editor',
        tools: {    
            image: {
                class: ImageTool,
                config: {
                    uploader: {
                        uploadByFile(file){
                            return new Promise((resolve) => {
                                var formData = new FormData();
                                formData.append("image", file);
                                function post(){
                                    return $.ajax({
                                        type: "POST",
                                        url: "/post-images-file",
                                        datatype: "json",
                                        data: formData,
                                        processData: false,
                                        contentType: false,
                                    });
                                }
                                post().done(function (json) {
                                    var json = JSON.parse(json)
                                    console.log(json)
                                    resolve(json)
                                })
                            })
                        },
                        uploadByUrl(url){
                            return new Promise((resolve) => {
                                resolve({ success: 1, file: { url: url }});
                                });
                        },
                    }
                }
            }
        }
    });
    
    function save() {
        editor.save().then((outputData) => {
            console.log('Article data: ', outputData);
            var image_url = ''
            
            for (var x of outputData.blocks) {
                try {
                    var url = x.data.file.url;
                    image_url = url
                    break
                } catch(e) {
                    console.log('this is not image')
                }
            }
            console.log('image_url:' , image_url)
            var articles = JSON.stringify(outputData);
            $.ajax({
                type: "POST",
                url: "/post-articles",
                dataType: "json",
                data: {
                    title: "sample",
                    articles: articles,
                    thumbnail: image_url,
                }
            });
        }).catch((error) => {
            console.log('Saving failed: ', error)
        });
    }
</script>