<div id="editor"></div>
<button onclick="save()">save</button>
<script>
    const editor = new EditorJS({
        holder:'editor',
        tools: {    
            image: {
                class: ImageTool,
                config: {
                    // endpoints: {
                    //     byFile: '/post-images-file', // Your backend file uploader endpoint
                    //     byUrl: '/post-images-url', // Your endpoint that provides uploading by Url
                    // }
                    uploader: {
                        uploadByFile(file){
                            return new Promise((resolve) => {
                                var formData = new FormData();
                                formData.append("image", file);
                                $.ajax({
                                    type: "POST",
                                    url: "/post-images-file",
                                    datatype: "json",
                                    data: formData,
                                    async: false,
                                    processData: false,
                                    contentType: false,
                                    
                                })
                                function sample(){
                                    var json = $.ajax({
                                        type: "GET",
                                        url: "/get-images-file",
                                        datatype: "json",
                                        // data: { success: success, file: { url: url}},
                                        async: false,
                                    }).responseText;
                                    return json;
                                }
                                var json = sample(json)
                                // console.log(json)
                                var result = JSON.parse(json)
                                console.log(result)
                                var image = result.url
                                console.log(image)
                                resolve({success:1, file:{url:image}})
                                
                                // console.log(json)
                                // console.log(json.url)
                                // var url = result.url
                                // console.log(url)
                                // var json = JSON.parse(result)
                                // console.log(result)
                                // resolve(result);
                            })
                        },
                        uploadByUrl(url){
                            return new Promise((resolve) => {
                                // $.ajax({type: "POST",url: "/post-image-url",dataType: "json",data: {url:url}});
                                resolve({ success: 1, file: { url: url }});
                                });
                        },
                        // uploadByUrl(url){
                        
                        //     return MyAjax.upload(file).then(() => {
                        //         return {success: 1,file: {url: url}}
                        //     })
                        // }
                    }
                }
            }
        }
    });
    
    function save() {
        editor.save().then((outputData) => {
            console.log('Article data: ', outputData)
            var articles = JSON.stringify(outputData);
            $.ajax({
                type: "POST",
                url: "/post-articles",
                dataType: "json",
                data: {
                    title: "sample",
                    articles: articles,
                    // articles: outputData
                }
            });
        }).catch((error) => {
            console.log('Saving failed: ', error)
        });
    }
</script>